<div  id="content" ng-show="!selectedButton || selectedButton === 1" class="cssFade">
<img src="images/3.jpg" id="hero">
	<div id="infosidebar" ng-class="{'moveleft': moveleft}">
		<div class="minimize" ng-click="moveleft=!moveleft;iconswap=!iconswap;wrapresize=!wrapresize;mainwrapresize=!mainwrapresize"><span class="lnr lnr-chevron-right" aria-hidden="true" ng-class="{'iconswap': iconswap}"></span></div>
			<li ng-click="selectedPanel = 1" ng-init="selectedPanel" class="cssFade about" ng-class="{'active': selectedPanel == 1}">About</li>
			<li ng-click="selectedPanel = 2" ng-init="none" class="cssFade features" ng-class="{'active': selectedPanel == 2}" >Features</li>
			<li ng-click="selectedPanel = 3" ng-init="none" class="cssFade demo" ng-class="{'active': selectedPanel == 3}">Example</li>
			<li ng-click="selectedPanel = 4" ng-init="none" class="cssFade cog" ng-class="{'active': selectedPanel == 4}">Customisation</span></li>
	</div>
	<div class="contentwrap">
	<div ng-show="!selectedPanel || selectedPanel === 1" class="cssFade">
		<div class="whitewrap" ng-class="{'mainwrapresize': mainwrapresize}">
			<h1>RCC Confirmation Widget</h1>
			<div class="left">
				<p>Confirmation widgets are placed on the partners confirmation pages for their products.</p> 
				<p>The partner will need to fill the values of the iframe with their customers information to see the relevant results. This can be done via either; 
				<li>Longitude & Latitude (A set of 2 coordinates) </li> 
				<code>eg: "&latitude=48.8566&longitude=2.3522" Paris France</code>
				<li>IATA code (A 3 letter Airport data code)</li>
				<code>eg: "&CDG" Paris Charles de Gaulle Airport</code> 
				<br></p>
				<p>The design is fully responsive so sizing isn’t too much of a problem. By default the widgets is styled with our RCC brand, this offers a co-brand logo with the option to hide.
				For white label partners the widget is available to be styled on a more in-depth basis in terms of color and brand.</p>
				<p>All widgets can be customised by number the of results shown & click through destination. Each touch-point is tracked so we know exactly how the customer interacted with the widget. </p>
				<p>As the widget will placed on a confirmation page it's importnat to keep this a secue link, either using our secure.rentalcars.com or your own ssl secure sub-domain</p> 
			</div>
			<div class="right" ng-class="{'wrapresize': wrapresize}">
				<div class="card">
					<div class="widget">
						<img src="images/widget.jpg"></div>
					</div>
				</div>
				<div class="clear"></div>
		
		</div>
	</div>	
<div ng-show="!selectedPanel || selectedPanel === 2" class="cssFade">
	<div class="whitewrap" ng-class="{'mainwrapresize': mainwrapresize}">
	<h1>Widget Features</h1>
	<p>The RCC confirmtation widget is AB tested, allowing us to add in any new features once returned positive.</p>
	<ul>
        <li>(NEW) An Improved speed and loading time</li>
         <li>(NEW) A supplier logo will now appear next to each car image</li>
        <li>Search results that can be pulled out either via IATA code or Long lat.</li>
        <li>IP detection which will automatically set the pricing structure for the country the user is in just as on the site</li>
        <li>Customisable styling allowing the widget to match the clients branding requirements.(depending on the size of the affiliate)</li>
        <li>Options to change the language, date, area and currency.</li>
         <li>A responsive design, this allows the widget to fit to any size including mobile devices.</li>
     </ul>
     </div>
</div>

<div ng-show="!selectedPanel || selectedPanel === 3" class="cssFade">
<div class="whitewrap" ng-class="{'mainwrapresize': mainwrapresize}">
<h1>Example</h1>
 <code>
&lt;iframe scrolling="no" src="https://secure.rentalcars.com/WidgetSearch.do?affiliateCode=rentalcars&amp;preflang=en&amp;pickupIATACode=MAN&amp;results=3&amp;pickupMonth=11&amp;pickupDate=5&amp;pickupYear=2016&amp;puHour=9&amp;pickupHour=9&amp;pickupMinute=15&amp;returnDate=13&amp;returnMonth=11&amp;returnYear=2016&amp;returnHour=9&amp;returnMinute=15&amp;maxOccupancy=3" frameborder="0" height="500" width="100%"></iframe>
</code> 
</div>
<div class="whitewrap" ng-class="{'mainwrapresize': mainwrapresize}">
<span class="lnr lnr-arrow-left"></span>
<h4><span class="responsive"></span> Resize the page to make responsive</h4>
	<iframe scrolling="no" src="https://secure.rentalcars.com/WidgetSearch.do?affiliateCode=rentalcars&amp;preflang=en&amp;pickupIATACode=MAN&amp;results=3&amp;pickupMonth=11&amp;pickupDate=5&amp;pickupYear=2016&amp;puHour=9&amp;pickupHour=9&amp;pickupMinute=15&amp;returnDate=13&amp;returnMonth=11&amp;returnYear=2016&amp;returnHour=9&amp;returnMinute=15&amp;maxOccupancy=3" frameborder="0" height="500" width="100%"></iframe>
	</div>
</div>
<div ng-show="!selectedPanel || selectedPanel === 4" class="cssFade">
<div class="whitewrap" ng-class="{'mainwrapresize': mainwrapresize}">
	<h1>Widget Customisation</h1>
	<p>To customise the widget you will be able to change dates, times, languages etc.. by inputting certain paramiters into the widget url.</p>
<div class="col2 left">
	<div class="customcontainer">
		<h3><span class="affcode"></span> Affiliate Code</h3>
		<p>Specifies to the widget the correct affiliate</p>
		<code>&affiliateCode=company</code>
	</div>
	<div class="customcontainer">
		<h3><span class="lang"></span>Language</h3>
		<p>The language to which to widget will display</p>
		<code>&preflang=en</code>
	</div>
	<div class="customcontainer">
		<h3><span class="location"></span>Pickup location</h3>
		<p>The 3 letter IATA code which specifies the destination</p>
		<code>&pickupIATACode=MAN</code>
	</div>
	<div class="customcontainer">
		<h3><span class="date"></span>Pickup year</h3>
		<p>Specify the pickup year</p>
		<code>&pickupYear=2016</code>
	</div>
	<div class="customcontainer">
		<h3><span class="time"></span>Pickup Hour</h3>
		<p>Specify the pickup hour</p>
		<code>&pickupHour=12</code>
	</div>
	<div class="customcontainer">
		<h3><span class="time"></span>Return Hour</h3>
		<p>Specify the return hour</p>
		<code>&returnHour=10</code>
	</div>
	<div class="customcontainer">
		<h3><span class="location"></span>Number of results</h3>
		<p>Specify how many results you want to be displayed</p>
		<code>&results=3</code>
	</div>
	<div class="customcontainer">
		<h3><span class="location"></span>Sub-domain</h3>
		<p>Specify a sub-domain for the search results to appear via</p>
		<code>&affUrl=carrentals.reservations.com</code>
	</div>
</div>
<div class="col2 right">
	<div class="customcontainer">
		<h3><span class="currency"></span>Currency preference</h3>
		<p>The currency in which you want to display</p>
		<code>&prefcurrency=GBP</code>
	</div>
	<div class="customcontainer">
		<h3><span class="date"></span>Pickup date</h3>
		<span class="lnr lnr-clock"></span><p>Specify the pickup date</p>
		<code>&pickupDate=6</code>
	</div>
	<div class="customcontainer">
		<h3><span class="date"></span>Pickup month</h3>
		<p>Specify the pickup month</p>
		<code>&pickupMonth=10</code>
	</div>
	<div class="customcontainer">
		<h3><span class="date"></span>Return date</h3>
		<p>Specify the return date</p>
		<code>&returnDate=14</code>
	</div>
	<div class="customcontainer">
		<h3><span class="time"></span>Pickup Minute</h3>
		<p>Specify the pickup Minute</p>
		<code>&pickupMinute=12</code>
	</div>
	<div class="customcontainer">
		<h3><span class="time"></span>Return Minute</h3>
		<p>Specify the return minute</p>
		<code>&returnMinute=10</code>
	</div>
	<div class="customcontainer">
		<h3><span class="currency"></span>Display price</h3>
		<p>displays correct dates and not the average over 7 days</p>
		<code>&dateJump=false</code>
	</div>
</div>
<div class="clear"></div>





	</div>
	</div>
</div>


