<div>
<!-- <div ng-show="!selectedPanel || selectedPanel === 1" class="cssFade"> -->
	<div class="whitewrap">
		<h1>Confirmation Widget</h1>
		<p>Confirmation widgets are placed on the partners confirmation pages for their products. The partner will need to fill the values of the iframe with their customers information to see the relevant results. This can be done through longitude & latitude or IATA code. The design is responsive so sizing isn’t too much of a problem. It can be customised in colour, number of results shown & click through destination. Each touch-point is tracked so we know exactly how the customer interacted with the widget. </p>
	</div>
</div>	