@font-face {
	font-family: 'Linearicons';
	src:url('../fonts/Linearicons.eot?w118d');
	src:url('../fonts/Linearicons.eot?#iefixw118d') format('embedded-opentype'),
		url('../fonts/Linearicons.woff2?w118d') format('woff2'),
		url('../fonts/Linearicons.woff?w118d') format('woff'),
		url('../fonts/Linearicons.ttf?w118d') format('truetype'),
		url('../fonts/Linearicons.svg?w118d#Linearicons-Free') format('svg');
	font-weight: normal;
	font-style: normal;
}
//fonts//
$proxi-reg: 'Proxima Nova Rg';
$proxi-light: 'Proxima Nova Lt';

